	a{
		text-decoration: none;
		color: #8e8e8e;
	}
	body{
		animation-name: myAnimation;
		animation-duration: 1.5s;
		background-color: #efefef;
		color: #8e8e8e;
		font-family: calibri;
		letter-spacing: 2px;
		margin: 0;
	}
	input, textarea{
		border: none;
		font-family: calibri;
		letter-spacing: 1px;
		outline: none;
		padding: 10px;
	}
	table, tr, td{
		text-align: left;
		vertical-align: middle;
		padding: 5px;
	}
	@keyframes myAnimation{
		from{
			opacity: 0;
			background-color: black;
		}
		to{
			opacity: 100%;
		}
	}
	.btnSubmit{
		border-radius: 30px;
		color: #8e8e8e;
	}
	.btnSubmit:hover{
		background-color: #4d4d4d;
		color: #efefef;
		cursor: pointer;
		transition: .5s ease;
	}
	.contact-section, .contact-form{
		padding: 2%;
	}
	.contact-form input, .contact-form textarea{
		background-color: #c6c6c6;
		padding: 10px;
		width: 200px;
	}
	.header{
		align-items: center;
		background: linear-gradient(rgba(25, 22, 24, .7), rgb(0, 0, 0));
		background-attachment: fixed;
		display: flex;
		height: 70%;
		justify-content: center;
		width: 100%;
	}
	.header span p, .project-header span p, .contact-section span p, .services-header span p{
		font-size: 30px;
		font-weight: 1;
		letter-spacing: 10px;
		margin-bottom: 0;
		margin: 0;
	}
	.header span hr{
		width: 500px;
		border: 1px solid #8e8e8e;
	}
	.header span p, .header-subtext{
		color: #8e8e8e;
		text-align: center;
	}
	.header, .navigation, .contact-form, .contact-section span p, .contact-details, .project-parent, .profile-parent, .services-header, .services{
		align-items: center;
		display: flex;
		justify-content: center;
	}
	.nav-bar ul li{
		display: inline-block;
		margin: 0 15px;
		border-bottom: 3px solid transparent;
	}
	.nav-bar ul li:hover{
		border-bottom: 3px solid #8e8e8e;
		transition: .5s ease;
	}
	.navigation{
		padding: 10px;
		position: sticky;
		top: 0;
	}
	.profile-right, .profile-left{
		margin: 0 3%;
		margin-top: 2%;
		width: 500px;
	}
	.profile-right img{
		width: 500px;
	}
	.profile-left{
		border-color: #29292b;
		border-style: solid;
		border-width: 50px 20px 30px 5px;
		padding: 5%;
		margin: 0;
		font-size: 20px;
	}
	.project-header{
		display: flex;
		margin-top: 3%;
	}
	.project-right, .project-left{
		margin: 8% 5%;
		margin-bottom: 0;
		padding: 2%;
		width: auto;
	}
	.project-right img, .project-left img{
		border: 1px solid black;
		position: relative;
		box-shadow: 2px 2px 15px #2e2e2e;
		transition: .5s ease;
		width: 500px;
		z-index: -1;
	}
	.project-right h3, .project-left h3{
		border-left: 5px solid #8e8e8e;
		padding: 5px;
	}
	.project-right:hover #img1, .project-left:hover #img1{
		border: 1px solid white;
		transform: scale(1.05);
		z-index: 1;
	}
	.services-container{
		align-items: center;
		height: auto;
		width: 250px;
		margin: 2% 5%;
	}
	.services-tile{
	height: 300px;
	margin-left: 20px;
	margin-right: 20px;
	padding: 10px;
	width: 200px;
	}
	.services-tile p{
		text-align: center;
	}
	#btnView{
		border: 1px solid #4d4d4d;
		padding: 10px;
	}
	#profile-section{
		background-color: #1f1f1f;
		margin-bottom: 5%;
	}
	#s-img img{
	height: 150px;
	padding: 20px;
}
	#vertical-line{
		border-left: 50px solid gray;
		height: 35px;
	}
	[class^="c-"]{
		padding: 15px 50px;
	}